@import "../../styles.scss";
.md-main{
    margin-top: 20px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.md-side-nav{
    background-color: $side-navigation-bg;
}


.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

.wrapper .main{
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

.md-sidebar{
    background-color: $sidebar-bg-color;
}


