

<div class="row mb-2" *ngIf="show_post;else Loading;">
    <div class="col-md-6" *ngFor="let post of posts;let i=index;">
        <app-single-post [data]="post"></app-single-post>
    </div>
</div>
<ng-template #Loading>
    <div class="row mb-2">
        <div class="col-md-6" *ngFor="let i of [1,2,3,4]">
            <div class="item">
                <ngx-skeleton-loader animation="pulse" count="2" [theme]="{ 
                    'border-radius': '5px',
                    width: '100%',
                    height: '200px',
                    border: '1px solid white'
                  }" appearance="circle"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
</ng-template>