<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{data.category}}</strong>
        <h3 class="mb-0">{{data.title}}</h3>
        <div class="mb-1 text-muted">{{data.createdDate}}</div>
        <div class="md-text" >{{data.summary}}</div>
        <a routerLink="/blog/post"  [state]="{ data: data }" class="stretched-link" >Continue reading</a>
    </div>
    <div class="col-auto d-none d-lg-block">
        
        <img class="bd-placeholder-img"   width="200" height="250" src="{{data.img}}" />
    </div>
</div>

