.example-form {
    margin: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 2%;
  }
  
  .example-full-width {
    width: 100%;
  }


  .ck-editor__editable_inline {
    min-height: 500px;
}