.login {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(54,55,66,1) 18%, rgba(166,91,91,1) 31%, rgba(145,151,199,1) 43%, rgba(126,191,228,1) 63%, rgba(114,209,244,1) 73%, rgba(140,223,247,1) 80%, rgba(170,239,255,1) 89%, rgba(202,227,232,1) 95%, rgba(0,212,255,1) 100%);
 

}

.login .panel{
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid;
    border-color: #00d6ff;
}.signup{
  margin-top:15%;
}

.login .welcome{
  padding: 10%;
  font-size: 45px;
  font-weight: 300;
  line-height: 1;
} .small{
  padding-top: 16px;
  font-size: 14px;
  line-height: 30px;
  max-width: 600px;
  color: #36531d;
}




  .example-form {
    margin:4%;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  @media (max-width:850px) and (min-width:400px) {
      .login{
        align-items: center;
        justify-content: center;
      }
      .welcome{
          display: none
      }
      .panel{
        height: 50% !important;
      }

  }

  
  @media (max-width:400px) {
    .welcome{
        display: none;
    }
    .panel{
      height: 100%;
    }

}